body {
  font-family: sans-serif;
}

.btn-filter {
  padding: 8px 16px;
  border-radius: 999px;
  background: #e5e7eb;
  font-size: 14px;
  transition: 0.3s;
}

.btn-filter:hover {
  background: black;
  color: white;
}

.btn-filter.active {
  background: black;
  color: white;
}

/* FIX OVERFLOW MOBILE */
html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
